Repository fib-international/structuralcodes, pull requests merged in 2024-07, with the labels that each got.

#109 feat: Implemented Popovics Constitutive Law
  structuralcodes/materials/constitutive_laws.py
  tests/test_core/test_constitutive_laws.py
Labels: constitutive laws

#114 fix: typo in interaction domain docstring
  structuralcodes/sections/_generic.py
Labels: documentation

#110 feat: refine moment curvature
  structuralcodes/sections/_generic.py
  tests/test_core/test_generic_section.py
Labels: enhancement, sections
