Repository fib-international/structuralcodes, pull requests merged in 2024-06, with the labels that each got.

#87 feat: use design strengths in constitutive laws
  structuralcodes/codes/ec2_2004/__init__.py
  structuralcodes/codes/ec2_2004/_reinforcement_material_properties.py
  structuralcodes/codes/mc2010/__init__.py
  structuralcodes/codes/mc2010/_reinforcement_material_properties.py
  structuralcodes/geometry/_geometry.py
  structuralcodes/materials/concrete/__init__.py
  structuralcodes/materials/concrete/_concrete.py
  structuralcodes/materials/concrete/_concreteEC2_2004.py
  structuralcodes/materials/concrete/_concreteEC2_2023.py
  structuralcodes/materials/concrete/_concreteMC2010.py
  structuralcodes/materials/constitutive_laws.py
  structuralcodes/materials/reinforcement/_reinforcement.py
  structuralcodes/materials/reinforcement/_reinforcementEC2_2004.py
  structuralcodes/materials/reinforcement/_reinforcementEC2_2023.py
  structuralcodes/materials/reinforcement/_reinforcementMC2010.py
  tests/test_core/test_generic_section.py
  tests/test_ec2_2004/test_concrete_ec2_2004.py
  tests/test_ec2_2023/test_concrete_ec2_2023.py
  tests/test_materials/test_reinforcements.py
  tests/test_mc2010/test_concrete_mc2010.py
Labels: enhancement

#88 feat: Add Sargin Constitutive Law to Constitutive laws
  structuralcodes/core/base.py
  structuralcodes/materials/constitutive_laws.py
  tests/test_core/test_constitutive_laws.py
  tests/test_core/test_generic_section.py
Labels: enhancement

#89 feat: First implementation of DB of Steel Sections
  structuralcodes/geometry/__init__.py
  structuralcodes/geometry/_geometry.py
  structuralcodes/geometry/_steel_sections.py
  tests/test_core/test_generic_section.py
  tests/test_core/test_steel_sections.py
Labels: enhancement

#102 feat: update vrdmax ec2 2004
  structuralcodes/codes/ec2_2004/shear.py
  tests/test_ec2_2004/test_ec2_2004_shear.py
Labels: enhancement, EC2 2004

#103 feat: Calculate Gross Properties
  structuralcodes/core/_section_results.py
  structuralcodes/geometry/_geometry.py
  structuralcodes/materials/constitutive_laws.py
  structuralcodes/sections/_generic.py
  tests/test_core/test_constitutive_laws.py
Labels: enhancement, sections

#104 feat: First draft of MN Interaction Diagram
  structuralcodes/core/_section_results.py
  structuralcodes/core/base.py
  structuralcodes/geometry/_geometry.py
  structuralcodes/materials/constitutive_laws.py
  structuralcodes/sections/_generic.py
  structuralcodes/sections/section_integrators/_fiber_integrator.py
  structuralcodes/sections/section_integrators/_marin_integrator.py
  tests/test_core/test_generic_section.py
  tests/test_core/test_geometry.py
  tests/test_core/test_steel_sections.py
Labels: enhancement, sections
