Repository fib-international/structuralcodes, pull requests merged in 2025-06, with the labels that each got.

#259 fix: replace exponent factor in ParabolaRectangle2D
  structuralcodes/materials/constitutive_laws/_parabolarectangle_2d.py
Labels: sections, constitutive laws

#258 fix: replace misleading variable name in integrate_stress method
  structuralcodes/sections/section_integrators/_shell_integrator.py
Labels: sections

#250 feat: use only material objects in geometry objects
  structuralcodes/geometry/_circular.py
  structuralcodes/geometry/_geometry.py
  structuralcodes/geometry/_rectangular.py
  structuralcodes/geometry/_reinforcement.py
  structuralcodes/materials/__init__.py
  structuralcodes/materials/basic/__init__.py
  structuralcodes/materials/basic/_elastic.py
  structuralcodes/materials/basic/_elasticplastic.py
  structuralcodes/materials/basic/_generic.py
  structuralcodes/sections/_generic.py
  structuralcodes/sections/_rc_utils.py
  structuralcodes/sections/section_integrators/_fiber_integrator.py
  structuralcodes/sections/section_integrators/_marin_integrator.py
  tests/test_geometry/test_circular.py
  tests/test_geometry/test_geometry.py
  tests/test_geometry/test_rectangular.py
  tests/test_geometry/test_steel_sections.py
  tests/test_sections/test_generic_section.py
Labels: enhancement
