Repository fib-international/structuralcodes, pull requests merged in 2025-05, with the labels that each got.

#241 fix: replace tangent stiffness with secant stiffness for 2D materials
  structuralcodes/materials/constitutive_laws/_elastic_2d.py
  structuralcodes/sections/section_integrators/_shell_integrator.py
  tests/test_materials/test_constitutive_laws.py
Labels: sections

#245 feat: add tests for ShellGeometry and ShellReinforcement
  structuralcodes/geometry/__init__.py
  structuralcodes/geometry/_shell_geometry.py
  tests/test_geometry/test_shell.py
Labels: sections

#247 fix: bugfix mn domain
  .vscode/settings.json
  structuralcodes/sections/_generic.py
Labels: bug

#246 feat: add stiffness reinforcement
  structuralcodes/geometry/_shell_geometry.py
  structuralcodes/sections/section_integrators/_shell_integrator.py
Labels: sections

#248 fix: bugfix rotation triangulation data
  structuralcodes/sections/_generic.py
  tests/test_sections/test_generic_section.py
Labels: bug

#249 fix: As calculation and updated notation for cc_bars
  structuralcodes/geometry/_shell_geometry.py
  structuralcodes/sections/section_integrators/_shell_integrator.py
Labels: bug

#244 feat: add side view to _repr_svg in ShellGeometry
  structuralcodes/geometry/_shell_geometry.py
Labels: sections

#252 fix: assign reinforcement as material in shell integrator
  structuralcodes/sections/section_integrators/_shell_integrator.py
Labels: bug, sections

#240 feat: add shell section calculator and tests
  structuralcodes/sections/__init__.py
  structuralcodes/sections/_shell_section.py
  structuralcodes/sections/section_integrators/__init__.py
  structuralcodes/sections/section_integrators/_shell_integrator.py
  tests/test_sections/test_shell_section.py
Labels: sections

#253 feat: make consistent stiffness matrix for ParabolaRectangle2D
  structuralcodes/materials/constitutive_laws/_parabolarectangle_2d.py
  tests/test_materials/test_constitutive_laws.py
Labels: sections, constitutive laws
